
body{
    background: #24353f;
}


.groub .tittle h1{
    font-family: Titillium Web sans-serif;
    font-weight: 500;
}

.groub{

    box-shadow:  -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
nav{
    box-shadow:  -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
